<h2>Add Student</h2>

<form action="" method="post" autocomplete="off">

Name <input type="text" name="name" id=""><br>
Age <input type="text" name="age" id=""><br>
City <input type="text" name="place" id=""><br>
<button type="submit" name="save">Save</button>
</form>